<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/tartinerlabs/ClaudeMeter/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>pX1LB6RuvVq8WZPQv181rs1Aq0eoR0w/87lMlf4xg/s=</string>
</dict>
</plist>
